.App{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 20px 0px;
  }

  @media screen and (max-width:450px){
    .App{
      width: 90vw;
    } 
  }
  