.list-titles{
    display: flex;
    list-style: none;
    padding: 0%;
    cursor: pointer;
}
.list-titles > li{
    padding: 5px 10px;
    width: clamp(50px, 6em , 200px);
    -webkit-user-select: none;
    transition: 0.1s ease-in-out;
}
.list-titles > li:hover{
    border-radius: 0.3em;
    font-weight: 600;
}

.selcted{
    background-color: rgb(235, 235, 235);
    border-radius: 0.3em;
    font-weight: 600;
    color:rgb(0, 132, 255);
}