@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');
body{
  font-family:'Plus Jakarta Sans';
  overflow: hidden;
  margin: 0%;
}
#root{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}
input, button{
  font-family:'Plus Jakarta Sans';
  outline: none;
}
button{
  cursor: pointer;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
}